body {
	background: turquoise;
	font-family: 'Indie Flower', cursive;
	font-size: 14;

} 
div{
	background:
	padding: 100px;
}

.fifty img{
	width: 200px; 

}
.left {
	float:left;
}
.right{ 
	float: right;
}

.center {
	text-align: center;
	margin:0 auto;
}
#mainImage{
	text-align: center;
	width: 500px;
}
.pinktext {color: pink
}

.justify{ 
text-align: justify;


